# Formulations data
formIDs=("DD" "ID")          #Must be not empty

# Problem data
pbNames=("DesCop-cube")       #Must be not empty
betaVals=(2)
timeMults=(3)

# Mesh data
meshTypes=("asym")
meshLvls=(3)

# Quadrature data. If quadIDs is not empty all other input will be ignored
quadIDs=()
quadTypes=("FN")
numsSRext=(16)
numsGHext=(3)
numsSRint=(64)
numsGHint=(1)
numsSNGLR=(64 256)
numsBOUND=(16)

# Logic flags (WIP)
aBldFlag=true
plotFigs=false
saveFigs=true
saveTemp=false

# SLURM job options
poolSize=16
RAMsize="128G"
GPUtype="p100"
GPUcount=1