# Problem data
pbNames=("def")
meshTypes=()
meshLvls=()
betaVals=()

# Quadrature data. If quadID is not empty all other input will be ignored
quadID=()
numsSRext=()
numsGHext=()
numsSRint=(16 64)
numsGHint=()
numsSNGLR=()
numsBOUND=()

# Logic flags
plotFigs=true
saveMatx=false

# SLURM job options
poolSize=16
RAMsize="128G"
GPUtype="p100"
GPUcount=1