# Formulations data
formIDs=("ID")                  #Must be not empty

# Problem data
pbNames=("barH1")               #Must be not empty
betaMults=()
timeMults=()

# Mesh data
meshTypes=()
meshLvls=()

# Quadrature data. If quadIDs is not empty all other input will be ignored
quadIDs=()
quadTypes=()
numsSRext=()
numsGHext=()
numsSRint=()
numsGHint=()
numsSNGLR=()
numsBOUND=()

# Logic flags
poolFlag=true
aBldFlag=true
plotFigs=true
saveFigs=true
saveTemp=false

# SLURM job options
poolSize=16
RAMsize="128G"
GPUtype="p100"
GPUcount=1